@font-face{
  font-family:'Holland';
  src:font-url('Holland.otf');
}
@font-face{
  font-family:'BringHeart-Regular';
  src:font-url('BringHeart-Regular.ttf');
}
@font-face{
  font-family:'Tommy_lee';
  src:font-url('Tommy_Lee.otf');
}
@font-face{
  font-family:'Beautiful_ES';
  src:font-url('Beautiful_ES.TTF');
}
@font-face{
  font-family:'Allura-Regular';
  src:font-url('Allura-Regular.otf');
}
