%ul.cmt-block
  = f.hidden_field :sort_num, value: 1, class: "cmt-sort-num"
  = f.hidden_field :indent, value: 1, class: "cmt-indent-num"
  %li.indent-area.indent-1
  %li.cmt-body
    %a.btn.btn-outline-info.cmt-indent-dec-btn{"aria-disabled" => "true" } <
    %a.btn.btn-outline-info.cmt-indent-inc-btn{"aria-disabled" => "true" } >
    %br
    = f.text_field :name, class: 'form-control'
