%ul.cmt-block
  = f.hidden_field :sort_num, value: 1, class: "cmt-sort-num"
  = f.hidden_field :indent, value: 1, class: "cmt-indent-num"
  -#= f.hidden_field :parent, value: 1, class: "cmt-parent"
  %li.indent-area.indent-1
  %li.cmt-body
    %a.btn.btn-info.btn-sm.cmt-indent-left-btn.disabled{"aria-disabled" => "true" } <
    %a.btn.btn-info.btn-sm.cmt-indent-right-btn{"aria-disabled" => "true" } >
    %br
    = f.text_field :name, class: 'form-control'
