%ul.cmt-block
  = c.hidden_field :sort_num, value: sort_num, class: "cmt-sort-num"
  %li.indent-area.indent-1
  %li.cmt-body
    = c.hidden_field :indent, value: indent, class: "cmt-indent-num"
    %a.btn.btn-outline-info.cmt-indent-dec-btn <
    %a.btn.btn-outline-info.cmt-indent-inc-btn >
    %br
    = c.text_field :name, class: 'form-control'
