= f.fields_for :topics do |t|
  = t.hidden_field :sort_num, :value => sort_num
  .card
    .card-header
      = t.label 'Topic name:'
      = t.text_field :name, class: 'form-control'
    .card-body
      -# = render 'meetings/comment'
