.card
  .card-header
    = t.label 'title:'
    = t.text_field :name, class: 'form-control'
  .card-body
    = render 'meetings/comment', t: t, sort_num: 1, indent: 1
    -# %br
    -# = render 'meetings/comment', t: t, sort_num: 1, indent: 2
    -# %br
    -# = render 'meetings/comment', t: t, sort_num: 1, indent: 3
    -# %br
    -# = render 'meetings/comment', t: t, sort_num: 1, indent: 4
    -# %br
    %a.btn.btn-outline-info +
