= render partial: 'meetings/form',
          locals:{ meeting: @meeting, users: @users, projects: @projects, groups: @groups,
                  topic_statuses: @topic_statuses, comment_statuses: @comment_statuses}
