#meeting-page{
  .float-right {
    display: -webkit-flex;
    display: flex;
    float:   right;
  }
  .float-left {
    display: -webkit-flex;
    display: flex;
    float:   left;
  }

  .card-btn-area {
    display: -webkit-flex;
    display: flex;
    float:   right;
  }

  #users-area{
    thead{

    }
    th {
      margin-top: 0px;
      padding-bottom: 0px;
    }
  }
  #attendees-area{
    ul li{
      display: inline;
    }
  }

  #general-area{
    ul{
      display: -webkit-flex;
      display: flex;
      float: left;
      width: 50%;

      li{
      }
    }

  }

  #topic-area{
    .topic-form{
      .topic-form-name-area{
        width: 85%;
        float: left;
      }
    }

    .cmt-block{
      display: -webkit-flex;
      display: flex;

      .cmt-body{
        width: 84%;
        float: left;
      }
      .indent-1{
        width: 0%;
        float: left;
      }
      .indent-2{
        width: 4%;
        float: left;
      }
      .indent-3{
        width: 8%;
        float: left;
      }
      .indent-4{
        width: 12%;
        float: left;
      }
      .indent-5{
        width: 16%;
        float: left;
      }
    }

    .cmt-area::before {
      // content: "[___]";
    }
  }
  #user-block-template{
    display: none;
  }
}
