#user-page{
  .card{
    max-width: 600px;
    margin: 1em auto;

    .password-card{
      max-width: 500px;
    }
    .sign-up-card{
      max-width: 500px;
      margin: 1em auto;
      float: none;
    }

    .login-card{
      max-width: 500px;
      margin: 1em auto;
      float: none;
    }
  }

}