%h3 トップページ
%br

%ul
  - if user_signed_in?
    %li
      = link_to 'マイページへ', my_page_path
  - else
    %li
      = link_to '新規ユーザー登録', new_user_registration_path
    %li
      = link_to 'ログイン', new_user_session_path
