.member-params
  = f.hidden_field :_destroy, class: "member-destroy-flag"
  = f.hidden_field :user_id, class: "member-user-id"
  = f.hidden_field :authority_id, class: "member-authority-flag"
  = f.hidden_field :admin, class: "member-admin-flag"
