#member-del-modal.modal.fade{"aria-hidden": "true",
                            "aria-labelledby": "memberDelModalCenterTitle",
                            role: "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered{:role => "document"}
    .modal-content
      .modal-header.bg-danger.text-white
        %h5#memberDelModalLongTitle.modal-title
          このユーザーをメンバーから削除しますか？
        %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button",
                      class: "btn text-white"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .form-group
          %label 名前
          #member-del-modal-user-name.form-control
        .form-group
          %label 権限
          #member-del-modal-authority.form-control
        .form-group
          %label プロジェクト管理者
          #member-del-modal-admin.form-control

      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} キャンセル
        #member-del-btn.btn.btn-danger{data:{ dismiss: "modal", "user-id": ""}}
          = fa_icon('user-minus')
          = "削除する"
