.child-project-params{"data-project-id": ""}
  %input{type: "hidden", class: 'child-project-id'}
  %input{type: "hidden", class: 'parent-project-id'}
%table
  %tbody
    %tr.child-project-row{"data-project-id": ""}
      %td.project-name.text-center
      %td.child-project-cancel.text-center
        %button{type: "button",
                 data: {target: "#child-project-cancel-modal",
                        toggle: "modal",
                        "child-id": ""},
                 class: "call-child-project-cancel-modal btn btn-outline-danger"}
          -#= icon('fas', 'unlink')
          = "■"
