%li.list-group-item
  - topics.each do |topic|
    .card
      .card-header
        %h5= topic.name
      %ul.list-group.list-group-flush
        - founder_cmts = sort_comments(founder_comments)
        - founder_cmts.each do |comment|
          - if topic.id == comment.topic_id
            %li.list-group-item
              = render 'show_comment', comment: comment, indent: "> "
