%table#group-table.table.table-sm.table-hover.table-bordered
  %thead.thead-light
    %tr
      %th.text-center{scope: "col"} グループ名
      %th.text-center{scope: "col"} 詳細
      %th.text-center{scope: "col"} 編集
  %tbody#member-list-area
    - groups.each do |group|
      %tr
        %td.text-center.align-middle
          = "#{group.name}"
        %td.text-center.align-middle
          = link_to fa_icon('users'), group_path(group), class: 'btn btn-outline-info btn-sm'
        - if group_admin? current_user, group
          %td.text-center.align-middle
            = link_to fa_icon('edit'), edit_group_path(group), class: 'btn btn-outline-success btn-sm'
        - else
          %td.text-center.align-middle
