%table#project-table.table.table-sm.table-hover.table-bordered
  %thead.thead-light
    %tr
      %th.text-center{scope: "col"} プロジェクト名
      %th.text-center{scope: "col"} 詳細
      %th.text-center{scope: "col"} 編集
  %tbody#member-list-area
    - projects.each do |project|
      %tr
        %td.text-center.align-middle
          = "#{project.name}"
        %td.text-center.align-middle
          = link_to fa_icon('users'), project_path(project),
                    class: 'btn btn-outline-info btn-sm'
        - if project_admin? current_user, project
          %td.text-center.align-middle
            = link_to fa_icon('edit'), edit_project_path(project),
                      class: 'btn btn-outline-success btn-sm'
        - else
          %td.text-center.align-middle
