%h3 マイ会議
%br

%ul
  %li
    %p 新規会議作成
  %li
    %p 開催予定会議
  %li
    %p 作成中の会議

%br
%p 以下は追加予定のメニュー
%ul
  %li
    %p 審査中の会議
  %li
    %p 承認中の会議

= link_to 'マイページに戻る', my_page_path
%br
%p Find me in app/views/my/meeting.html.haml
