%h3 マイメニュー

%ul
  %li
    = link_to 'マイ会議', my_meeting_path
  %li
    = link_to 'ユーザ情報 確認／編集', edit_user_registration_path
%br
%p 以下は追加予定のメニュー
%ul
  %li
    %p 会議録 検索／閲覧
  %li
    %p 代表／管理ユーザーメニュー
  %li
    %p グループ情報
%br
%p Find me in app/views/my/page.html.haml
